<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Language Video Tutorials</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Learning starts now...</a>

            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>

                {{#if loggedIn}}
                <li class="nav-item">
                    {{#if user}}
                    <a class="nav-link" href="#">Welcome, {{user}}</a>
                    {{/if}}
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {{/if}}
            </ul>
        </nav>

        {{#if errorMsg}}
        <section class="notifications">
            <p class="notification-message">{{errorMsg}}</p>
        </section>
        {{/if}}

        <main>
            
            
            {{#unless loggedIn}}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Language Tutorials</h1>
                    <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
                </div>
            </div>
            {{/unless}}
            
            {{#if loggedIn}}
            <h1 class="text-center">Courses</h1>
            <section>
                <a href="/course/create" class="btn btn-warning ">Create Course</a>
                <form class="search float-right">
                    <label>Search: </label>
                    <input type="text">
                    <input type="submit" class="btn btn-info" value="Search">
                </form>
            </section>
            {{/if}}

            {{#unless loggedIn}}
            {{#unless noTopCourses}}
            <h1 class="text-center">Top Courses</h1>
            {{/unless}}
            {{/unless}}
            
            
            <div class="container mt-3"> 
                {{!-- <div class="row "> --}}
                    <div class="card-deck d-flex justify-content-center">
                        {{#if loggedIn}}
                        {{#each sortedCreatedCourses}} 
                        
                        <div class="card mb-4">
                            <img class="card-img-top"
                                src="{{imageUrl}}"
                                alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">{{title}}</h4>
                            </div>
                            <div class="card-footer">
                                
                                <a href="/courseDetails/{{_id}}"><button type="button" class="btn btn-info">Details</button></a>  
                                <small class="float-right">{{created}}</small>                               
                            </div>
                        </div>
                             
                        {{/each}}
                        {{/if}}     


                        {{#unless loggedIn}}
                        {{#each topCourses}}           
                            <div class="card mb-4">
                                <img class="card-img-top"
                                    src="{{imageUrl}}"
                                    alt="Card image cap" width="400">
                                <div class="card-body">
                                    <h4 class="card-title">{{title}}</h4>
                                </div>
                            </div>
                        {{/each}}
                        {{/unless}} 
                    </div>          
                {{!-- </div> --}}
            </div>
            
                        
            {{!-- <div class="container mt-3">
                <div class="row ">
                    <div class="card-deck d-flex justify-content-center">
                        <div class="card mb-4">
                            <img class="card-img-top"
                                src="https://www.countryflags.com/wp-content/uploads/united-states-of-america-flag-png-large.png"
                                alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">English</h4>
                            </div>
                            <div class="card-footer">
                                <a href="/courseDetails"><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right">Date...</small>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <img class="card-img-top"
                                src="https://www.countryflags.com/wp-content/uploads/japan-flag-png-large.png"
                                alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">Japanese</h4>
                            </div>
                            <div class="card-footer">
                                <a href="/courseDetails"><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right">Date...</small>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <img class="card-img-top"
                                src="https://www.countryflags.com/wp-content/uploads/france-flag-png-large.png"
                                alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">French</h4>
                            </div>
                            <div class="card-footer">
                                <a href="/courseDetails"><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right">Date...</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}

            
            {{#unless courses}}
            <h3 class="text-center">No courses...</h3>
            {{/unless}}
        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2021
                <a href="#/">Language Learning Center</a>
            </div>
        </footer>

    </div>
</body>

</html>